<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giới thiệu CLB</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Về CLB Computer Science</h1>
    <p>CLB của chúng tôi tập trung vào việc phát triển kỹ năng công nghệ cho sinh viên.</p>
    <a href="/">Trở về Trang chủ</a>
</body>
</html>
