<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thành viên CLB</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Thành viên CLB</h1>
    <p>Danh sách các thành viên trong CLB.</p>
    <a href="/">Trở về Trang chủ</a>
</body>
</html>
